.container {
    width: 960px;
    height: 400px;
    margin: 0 auto;
    background-color: silver;
    display: flex;
    align-items: center;
}

.col {
    width: 250px;
    padding: 10px;
    background-color: blanchedalmond;

}
.col-2{
    background-color: lightcyan;
    padding: 10px;
    width: 400px;
}

.col p {
    font-size: 1.2rem;
}